* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.ball {
  position: relative;
  width: 150px;
  height: 150px;
}

.ball span {
  position: absolute;
  width: calc(150px + var(--i));
  height: calc(150px + var(--i));
  border-radius: 50%;
  transform-origin: calc(50px + var(--i));
  background: var(--color);
  animation: ball-animation 5s linear infinite;
  animation-duration: calc(var(--d));
  mix-blend-mode: plus-lighter;
  filter: blur(15px);
}

.ball span:nth-child(even) {
  animation-direction: reverse;
}

@keyframes ball-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
