.image-circle {
        width: 20%;
        height: 20%;
        border-radius: 100%;
        border-top: 1em solid  #EA4335;
        border-right: 1em solid #4285F4;
        border-left: 1em solid #34A853;
        border-bottom: 1em solid #FBBC05;
        padding: 1em;
        animation: spin 10s infinite linear;
    }
    .image-circle img {
        animation: spin 10s infinite reverse linear;
        width: 100%;
        border-radius: 50%;
    }



    @keyframes spin {
        100% {
            transform: rotate(1turn);
        }
    }
