/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #1ea35e;
    display: grid;
    place-content: center;
    height: 100vh;
}
/* ======================== */
.hamburger{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
/* General styles for the lines */
.hamburger .line{
    display: block;
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin-block: 10px; /*Adds separation to the bottom and the bottom*/
    border-radius: 4px;
    transition: transform .5s,
    opacity .25s;
}
/* Selecting the lines individually to add different effects when the active class is added to the hamburger menu.*/
.hamburger.active .line:nth-child(1){
    transform: translateY(13px)
    rotate(45deg); /*Moves down this line 13px and rotates it 45 degrees to create the X*/
}
.hamburger.active .line:nth-child(2){
    opacity: 0; /*Hides this line.*/
}
.hamburger.active .line:nth-child(3){
    transform: translateY(-13px)
    rotate(-45deg); /*Moves up this line 13px and rotates it -45 degrees to create the X*/
}  
