* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ff7b94;
}
.container {
  height: 28.12em;
  width: 28.12em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
}
.container:after {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.35);
  height: 100%;
  width: 50%;
  border-radius: 0.6em 0 0 0.6em;
}
.crab-body {
  background-color: #fe4566;
  height: 8.7em;
  width: 15em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(50% + 1.87em);
  left: 50%;
  border-radius: 8.7em;
  overflow: hidden;
}
.crab-body:before {
  content: "";
  position: absolute;
  background-color: #ff7b94;
  height: 15em;
  width: 15em;
  border-radius: 5em;
  transform: rotate(45deg);
  top: 5em;
}
.crab-hand-l,
.crab-hand-r {
  height: 5em;
  width: 5em;
  border-bottom: 0.9em solid #dc0c3e;
  position: absolute;
  top: 7.8em;
}
.crab-hand-l {
  border-left: 0.9em solid #dc0c3e;
  border-radius: 0 0 0 3.1em;
  transform: rotate(45deg);
  left: 5em;
}
.crab-hand-r {
  border-right: 0.9em solid #dc0c3e;
  border-radius: 0 0 3.1em 0;
  transform: rotate(-45deg);
  right: 5em;
}
.crab-hand-l:before,
.crab-hand-r:before {
  position: absolute;
  content: "";
  height: 3.1em;
  width: 3.1em;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 1.87em 0 1.25em #fe4566;
  bottom: 5em;
}
.crab-hand-l:before {
  left: -1.87em;
}
.crab-hand-r:before {
  right: -1.87em;
}
.crab-eyes {
  background-color: #414c51;
  height: 1.25em;
  width: 1.1em;
  position: absolute;
  top: 10.37em;
  left: 10.93em;
  border-radius: 0.6em 0.6em 0 0;
  box-shadow: 5.3em 0 #414c51;
}
.crab-leg-l,
.crab-leg-r {
  height: 3.75em;
  width: 3.12em;
  border-top: 0.9em solid #dc0c3e;
  position: absolute;
}
.crab-leg-l {
  border-left: 0.9em solid #dc0c3e;
  border-radius: 2.8em 0 0 0;
}
.crab-leg-r {
  border-right: 0.9em solid #dc0c3e;
  border-radius: 0 2.8em 0 0;
}
.leg-l-1 {
  transform: skew(-15deg);
  top: 15em;
  left: 3.75em;
}
.leg-r-1 {
  transform: skew(15deg);
  top: 15em;
  right: 3.75em;
}
.leg-l-2 {
  transform: rotate(-10deg) skew(-15deg);
  left: 5.62em;
  top: 18.12em;
}
.leg-r-2 {
  transform: rotate(10deg) skew(15deg);
  right: 5.62em;
  top: 18.12em;
}
.leg-l-3 {
  transform: rotate(-30deg) skew(-15deg);
  left: 9.37em;
  top: 19.37em;
}
.leg-r-3 {
  transform: rotate(30deg) skew(15deg);
  right: 9.37em;
  top: 19.37em;
}
